services:
  app:
    build: .
    ports:
      - "8001:8001"
    env_file:
      - .env
    container_name: local_fastapi
    command: uvicorn app.main:app --host 0.0.0.0 --port 8001 --reload
    volumes:
      - ./app:/code/app
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    container_name: local_redis
    ports:
      - "6380:6379"
    command: redis-server --appendonly yes --requirepass ${REDIS_PASSWORD}
    volumes:
      - redis_data:/data

volumes:
  redis_data:
